<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA624FB01C34C0A800EEA3E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA624FC91C34C0A900EEA3E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA624FD41C34C0A900EEA3E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
